html, body {
  height: 100%;
}

body {
  font-family: "Inconsolata", sans-serif;
}

h1 {
  font-family: "Inconsolata", "sans-serif";
}

h2 {
  letter-spacing: -1px;
}

ul {
  list-style: none;
}

li {
    display: inline;
  }

a {
  text-decoration: none;
}

p {
  font-size: 1.2em;
}

p, h2 {
  margin-right: 20px;
}

main a {
  color: black;
  display: block;
  line-height: 1.2em;
}

main a {
  color: black;
  display: block;
  text-decoration: underline;
}


.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.outer {
  height: 100%;
  width: 100%;
}
